*.aux
*.bbl
*.pdf
*.gz
*.log
*.pyc
*.idea
*.blg
*.out
*.bak
*.DS_Store
src/output
**/venv
sandbox/pytorch-tutorial/data/
sandbox/pytorch-tutorial/*.pkl
sandbox/toy_problem/experiment_results
.vscode
__pycache__
