<div class="pl-3">
  <h2>Quickstart</h2>
  <p>Use this web application to review the logs Lipizzaner writes into it's log server.</p>
  <p>
    <strong>Usage:</strong>
  </p>
  <ul>
    <li>Select an experiment on the left (by default, the latest is already selected).</li>
    <li>Change the iterations displayed in the grid with the slider (default: latest iteration).</li>
    <li>Click a cell to display the whole experiment progress for the respective node.</li>
  </ul>

  <p>Changing the log server is currently not supported/will be added in future releases.</p>
</div>
