certifi==2019.9.11
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==0.12.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.1.0
losswise==2.0
MarkupSafe==1.1.1
matplotlib==2.2.2
netaddr==0.7.19
netifaces==0.10.9
numpy==1.14.2
Pillow==6.1.0
pkg-resources==0.0.0
pymongo==3.6.1
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
scipy==1.0.1
six==1.12.0
torch==0.3.1
torchvision==0.2.0
urllib3==1.25.6
Werkzeug==0.16.0
