numpy==1.14.1
http://download.pytorch.org/whl/cu90/torch-0.3.1-cp36-cp36m-linux_x86_64.whl ; sys_platform == 'linux'
http://download.pytorch.org/whl/torch-0.3.1-cp35-cp35m-macosx_10_6_x86_64.whl ; sys_platform == 'darwin'
torchvision
losswise==1.8
PyYAML==3.12
matplotlib
scipy
Flask
netifaces
netaddr
pymongo
